.hotels_list {

	width: 80%;
	margin: auto;
	padding: 1em;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	border-radius: 5px;
	border: 1px solid gray;
	background-color: white;
}

.hotel_list_item {

	max-width: 30%;
	min-height: 20em;

	display: flex;
	flex-direction: column;
	/*flex-wrap: wrap;*/
}

.title_and_price_container {

	width: 100%;
	display: flex;
	justify-content: space-between;
}

.title_container {

	max-width: 60%;
	background: yellow;
}

.price_container {

	margin-right: 1em;
	padding: 0.5em;

	background: orange;
	max-width: 35%;
}

.image_container {

	width: 100%;
	height: 100%;
	background: url("https://i.t-rp.co.uk/ei/1/1/8/1/6/4/0_400_400.jpg");
	background-size: cover;
}